/*about*/

.about {
    margin-right: 57px;
  }
  
  .about__wrapper {
    display: flex;
    margin-top: 90px; 
  }
  
  .about__list {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 27px;
    background-color: #E1F0F7;
    width: 543px;
    position: relative;
  }
  
  .contact__list {
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 102px;
  }
  
  .about__title {
    position: absolute;
    top: -30px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    text-transform: uppercase;
    color: #1E0606;
    padding-top: -30px;
    margin-bottom: 10px;
  }
  
  .about__title-two {
    font-family: 'Crimson Text';
    font-style: italic;
    font-weight: 400;
    font-size: 26px;
    line-height: 34px;
    color: #1E0606;
    padding-top: 30px;
    margin-bottom: 10px;
    padding-top: 31px;
  }
  
  .about__content {
    width: 483px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #1E0606;
    margin-bottom: 20px;
  }
  
  .about__button {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 9px 22px;
    /**gap: 10px;**/
    background: #000000;
    
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
  }
  
  /*contact*/
  
  .contact__list {
    background-color: #E1F0F7;
  }
  
  .contact__title {
    margin-top: -60px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    text-transform: uppercase;
    color: #1E0606;
    margin-bottom: 18px;
  }
  
  .contact__content {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #1E0606;
    margin-bottom: 30px;
  }
  
  .about__map {
    width: 483px;
    height: 196px;
    margin-left: 20px;
    margin-top: -80px;
  }