.animation {
    overflow: hidden;
    width: 100%;
    height: 100%;
    &__weather {
        position: absolute;
        margin-top: 10px;
        animation: weather 80s linear infinite;
    }
    &__city {
        position: relative;
        margin-top: 120px;
    }
    &__car-one {
        position: absolute;
        top: 75%;
        left: 2%;
        animation: car_one 29s linear infinite;
    }
    &__img-car--one {
        width: 200px;
    }
    &__front-car--one {
        left: 145px;
        position: absolute;
        top: 47px;
        width: 35px;
        animation: wheels 8s linear infinite;
    }
    &__back-car--one {
        left: 29px;
        position: absolute;
        top: 46px;
        width: 35px;
        animation: wheels 4s linear infinite;
    }
    &__car-two {
        position: absolute;
        top: 73%;
        left: 30%;
        animation: car_two 31s linear infinite;
    }
    &__front-car--two {
        left: 153px;
        position: absolute;
        top: 63px;
        width: 35px;
        animation: wheels 8s linear infinite; 
    }
    &__back-car--two {
        left: 15px;
        position: absolute;
        top: 63px;
        width: 35px;
        animation: wheels 8s linear infinite;
    }
    &__car-three {
        position: absolute;
        top: 80%;
        left: 49%;
        animation: car_three 30s linear infinite;
    }
    &__front-car--three {
        left: 185px;
        position: absolute;
        top: 36px;
        width: 29px;
        animation: wheels 8s linear infinite; 
    }
    &__back-car--three {
        left: 42px;
        position: absolute;
        top: 36px;
        width: 29px;
        animation: wheels 8s linear infinite;
    }
    &__car-four {
        position: absolute;
        top: 72%;
        left: 82%;
        animation: car_four 29s linear infinite;
    }
    &__img-car--four {
        width: 200px;
    }
    &__front-car--four {
        left: 144px;
        position: absolute;
        top: 56px;
        width: 39px;
        animation: wheels 8s linear infinite; 
    }
    &__back-car--four {
        left: 26px;
        position: absolute;
        top: 56px;
        width: 39px;
        animation: wheels 8s linear infinite;
    }
    &__lights-first {
        position: absolute;
        left: 18%;
        top: 51%;
        width: 110px;
    }
    &__lights-second {
        position: absolute;
        left: 95%;
        top: 51%;
        width: 109px;
    }
    &__taxi {
        position: absolute;
        top: 93%;
        left: 82%;
        animation: taxi 29s linear infinite;
    }
    &__taxi-message {
        position: absolute;
        top: -70px;
        left: 110px;
        width: 150px;
        animation: taxi_message 40s linear infinite;
    }
    &__img-taxi {
        position: relative;
        width: 450px;
    }
    &__front-taxi {
        left: 325px;
        position: absolute;
        top: 89px;
        width: 45px;
        animation: wheels 2s linear infinite; 
    }
    &__back-taxi {
        left: 64px;
        position: absolute;
        top: 89px;
        width: 45px;
        animation: wheels 2s linear infinite;
    }
    &__light {
        position: absolute;
        top: 60%;
        left: 80%;
        width: 160px;
    }
}

@keyframes weather {
    100% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}

@keyframes wheels {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes car_one {
    0% {
        transform: translateX(-1500px);
    }
    100% {
        transform: translateX(1500px);
    }
}

@keyframes car_two {
    0% {
        transform: translateX(-1800px);
    }
    100% {
        transform: translateX(1800px);
    }
}

@keyframes car_three {
    0% {
        transform: translateX(-1800px);
    }
    100% {
        transform: translateX(1800px);
    }
}

@keyframes car_four {
    0% {
        transform: translateX(-1800px);
    }
    100% {
        transform: translateX(1800px);
    }
}

@keyframes taxi {
    0% {
        transform: translateX(1800px);
    }
    100% {
        transform: translateX(-1800px);
    }
}

@keyframes taxi_message {
    0% {
        opacity: 0;
    }
    45% {
        opacity: 1;
    }
    49% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}