/*CATALOG*/
.product__title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    text-transform: uppercase;
    color: #1E0606;
    margin-bottom: 15px;
  }
  
  .product__wrapper {
    margin-top: 60px;
  }
  
  .page__arrow {
    width: 8px;
    height: 12px;
  }
  
  .page__main-link {
    font-family: 'Crimson Text';
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #1E0606;
    margin-right: 20px;
  }
  
  .page__main-link:hover {
    opacity: 0.5;
  }
  
  .page__catalog-link {
    font-family: 'Crimson Text';
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #1E0606;
    margin-left: 20px;
  }
  
  .page__catalog-link:hover {
    opacity: 0.5;
  }
  
  .product__desc-wrapper {
    max-width: 680px;
    margin-left: 310px;
    margin-top: 50px;
  }
  
  .product__desc-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    text-transform: uppercase;
    color: #1E0606;
    margin-bottom: 25px;
  }
  
  .product__desc-content {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #1E0606;
    margin-bottom: 15px;
  }
  
  .product__list-wrapper {
    margin-top: 50px;
  }
  
  .product__list-wrapper--one {
    margin-top: 23px;
    margin-left: 200px;
  }
  
  .product__list {
    display: flex;
    column-gap: 20px;
    margin-top: 30px;
    padding: 0;
  }
  
  .product__title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    text-transform: uppercase;
    color: #1E0606;
  }
  
  .product__list-item--one {
    position: relative;
    background: #DBE4DB;
    height: 270px;
    width: 280px;
  }
  
  .product__list-item--two {
    position: relative;
    background: #EADDD3;
    height: 270px;
    width: 280px;
  }
  
  .product__list-item--three {
    position: relative;
    background-color: #e6d75199;
    height: 270px;
    width: 280px;
  }
  
  .product__list-item--four {
    position: relative;
    background: #D5D4E1;
    height: 270px;
    width: 280px;
  }
  
  .product__list-item--five {
    position: relative;
    background: #F3D0DB;
    height: 270px;
    width: 280px;
  }
  
  .product__list-item--six {
    position: relative;
    background: #E5EAF8;
    height: 270px;
    width: 280px;
  }
  
  .product__list-img--one {
    position: absolute;
    top: 52px;
    left: 25px;
  }
  
  .product__list-img--two {
    position: absolute;
    top: 13px;
    left: 18px;
  }
  
  .product__list-img--three {
    position: absolute;
    top: -9px;
    left: -6px;
  }
  
  .product__list-img--four {
    position: absolute;
    top: 21px;
    left: 10px;
  }
  
  .product__list-img--five {
    position: absolute;
    top: 21px;
    left: 10px;
  }
  .product__list-img--six {
    position: absolute;
    top: 21px;
    left: 10px;
  }
  
  .product__list-title {
    position: absolute;
    top: 110px;
    left: 40px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 32px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 0px 0px 40px rgba(147, 3, 3, 0.25);
  }
  
  .product__list-title--three {
    position: absolute;
    top: 110px;
    left: 85px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 32px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 0px 0px 40px rgba(147, 3, 3, 0.25);
  }
  
  .product__list-title--five {
    position: absolute;
    top: 100px;
    left: 85px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 32px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 0px 0px 40px rgba(147, 3, 3, 0.25);
  }
  
  .product__list-title--six {
    position: absolute;
    top: 68px;
    left: 29px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 32px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 0px 0px 40px rgba(147, 3, 3, 0.25);
  }
  
  .products__switch {
    display: flex;
    margin-top: 30px;
    width: 680px;
  }
  
  .produscts__switch--left {
    width: 37px;
    height: 37px;
  }
  
  .produscts__switch--right {
    width: 37px;
    height: 37px;
  }
  
  .products__switch-wrapper {
    column-gap: 6px;
  }
  
  .produscts__content {
    width: 580px;
    margin: 0;
    padding-left: 20px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #1E0606;
  }