/*CONTACT US*/
.contact__us-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    text-transform: uppercase;
    margin-top: 60px;
    color: #1E0606;
  }
  
  .contact__wrapper {
    margin-top: 15px; 
  }
  
  .contact__link {
    font-family: 'Crimson Text';
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    text-transform: capitalize;
    margin-right: 20px;
    color: #1E0606;
  }
  
  .contact__link:hover {
    opacity: 0.5;
  }
  
  .contact__arrow {
    margin-right: 20px;
  }
  
  .form__wrapper {
    display: flex;
    column-gap: 120px;
    margin-top: 50px;
  }
  
  .form__contact {
    background-color: #E5EAF8;
   
    padding-left: 40px;
    padding-bottom: 42px;
  }
  
  .form__content--wrapper {
    max-width: 380px;
  }
  
  /* FORM */
  .contact__us-form {
    width: 680px;
  }
  
  .form__group {
    display: flex;
    column-gap: 20px;
    margin-bottom: 43px;
  }
  
  .form__label {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #1E0606;
  }
  
  .form__rule {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    margin-top: -22px;
    color: #1E0606;
  }
  
  .form__button {
    margin-top: 26px;
    background: #000000;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
  
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 9px;
    padding-bottom: 9px;
  
    color: #FFFFFF;
  }
  
  .form__name {
    display: block;
    width: 600px;
    height: 50px;
    padding-left: 20px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
  }
  
  .form__name:hover,
  .form__name:active {
    border: 1px solid #C29974;
  }
  
  .form__name:disabled {
    border: 1px solid #EBEBEB;
  }
  
  .form__input {
    display: block;
    width: 279px;
    height: 50px;
    padding-left: 20px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
  }
  
  .form__message {
    display: block;
    width: 618px;
    height: 150px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
  }
  
  
  /*form content*/
  
  .form__content {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 20px;
    color: #1E0606;
  }
  
  .form__content--link {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 34px;
    text-transform: uppercase;
    color: #C29974;
  }
  
  /*checkbox*/
  .check {
    padding-left: 20px;
  }
  
  .check__input {
    position: absolute;
    -webkit-appearance: none;
    appearance: none;
  }
  
  .check__box {
    position: absolute;
    margin-left: -20px;
    width: 19px;
    height: 19px;
    background-image: url(../img/checkbox-two.png);
  }
  
  .check__input:checked + .check__box {
    width: 19px;
    height: 19px;
    background-image: url(../img/check-full.png);
  }