/** DELIVERY **/
.delivery__wrapper {
    display: flex;
    margin-top: 90px;
    position: relative;
  }
  
  .back__list-delivery {
    position: absolute;
    top: 55px;
    left: 570px;
  }
  
  .delivery__img-wrapper {
    margin-right: 120px;
  }
  
  .delivery__main-title {
    margin-bottom: 17px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    text-transform: uppercase;
    color: #1E0606;
  }
  
  .delivery__list-title {
    margin-bottom: 22px;
    font-family: 'Crimson Text';
    font-style: italic;
    font-weight: 700;
    font-size: 26px;
    line-height: 34px;
    color: #1E0606;
    margin-top: 17px;
  }
  
  .delivery__list {
    margin-bottom: 22px;
    font-family: 'Crimson Text';
    font-style: italic;
    font-weight: 400;
    font-size: 26px;
    line-height: 34px;
    color: #1E0606;
  }
  
  .delivery__list-content {
    margin-top: 30px;
    margin-bottom: 15px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #1E0606;
  }
  
  .delivery__button {
    display: flex;
    margin-top: 25px;
    flex-direction: row;
    align-items: center;
    padding: 9px 22px;
    /*gap: 10px;*/
    background: #000000;
  
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
  
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
  }