.header {
    display: flex;
    margin-top: 50px;
    &__list-first {
        display: flex;
        column-gap: 20px;
        align-items: center;
        padding: 0;
    }
    &__logo {
        margin-right: 60px;
    }
    &__list-item--link {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        display: flex;
        align-items: center;
        text-transform: uppercase;
        padding: 0;
    }
    &__list-search {
        display: flex;
        column-gap: 20px;
        margin-left: auto;
        align-items: center;
        padding: 0;
    }
    &__list-item--down {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 19px;
        display: flex;
        align-items: center;
        text-transform: uppercase;
    }
    &__button {
        padding: 0;
        border: none;
        font: inherit;
        color: inherit;
        background-color: transparent;
        cursor: pointer;
        &:hover {
            opacity: 0.3;
        }
        &:active {
            opacity: 0.1;
        }        
    }
}

.logo {
    transition: 0.5s;
    &:hover {
        opacity: 0.3;
    }
    &:active {
    opacity: 0.1;
}
}
  
.header__list-link {
    transition: 0.5s;
    &:hover {
        opacity: 0.3;
    }
    &:active {
        opacity: 0.1;
    }
}