/*TOYS*/
.learn__more {
    width: 207px;
    height: 207px;
    background: #e5eaf8;
    display: flex;
    margin-left: 80px;
    margin-top: -290px;
    margin-bottom: 90px;
    font-family: Montserrat;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 29px;
    opacity: 0;
    padding-left: 13px;
    padding-top: 85px;
    text-align: center;
    text-transform: uppercase;
}


.learn__more:hover {
    opacity: 1;
    opacity: 0.67;
}

.learn__more:active {
    opacity: 1;
    opacity: 0.47;
}

.page {
    margin-top: 15px;
}

.toys__title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    text-transform: uppercase;
    color: #1E0606;
    margin-top: 60px;
}

.page__link {
    font-family: 'Crimson Text';
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #1E0606;
    margin-right: 20px;
}

.page__link:hover {
    opacity: 0.5;
}

.page__img {
    margin-right: 20px;
}

.toys__option {
    margin-bottom: 60px;
    background: rgba(125, 151, 218, 0.2);
    padding-top: 42px;
    border-bottom-width: 42px;
    padding-bottom: 42px;
    margin-top: 50px;
    padding-left: 110px;
    padding-right: 195px;
}

.toys__list-one {
    padding: 0;
    display: flex;
    column-gap: 20px;
    margin-bottom: 20px;
}

.toys__list-two {
    padding: 0;
    display: flex;
    column-gap: 20px;
}

.toys__list-page {
    padding: 0;
    display: flex;
    column-gap: 67px;
}

.toys__list-item {
    max-width: 380px;
}

.toys__list-content {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #1E0606;
}

.toys__list-price {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    align-content: center;
    text-align: center;
    color: #1E0606;
    margin-left: 150px;
}

.page__toys-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 53px;
}

.toys__num {
    display: flex;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #C29974;
}

.toys__list-page {
    display: flex;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #1E0606;
}

.toys__list-page:hover {
    color: #AAAAAA;
}

.toys__list-img:hover {
    background: #E5EAF8;
    opacity: 0.9;
}

.toys__list-img:active {
    background: #E5EAF8;
    opacity: 0.67;
}


.toys__form-container {
    display: flex;
    column-gap: 120px;
}


/*slider*/
.slider__list {
    display: flex;
}

.slider__list-start {
    margin-top: 6px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #1E0606;
}

.slider__list-end {
    margin-left: 211px;
    margin-top: 6px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #1E0606;
}

.slider,
.slider__rez {
    display: inline-block;
    vertical-align: middle;
    font-size: 1em;
    font-family: Arial, sans-serif;
}

.slider[type="range"] {
    -webkit-appearance: none;
    width: 234px;
    height: 4px;
    background: #000000;
    opacity: 0.5;
    background-image: linear-gradient(#C29974, #C29974);
    background-size: 60% 100%;
    background-repeat: no-repeat;
}

.slider[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 24px;
    width: 24px;
    background-image: url(../img/slider-thumb.png);
}


/*checkbox*/
.option {
    display: block;
    margin-bottom: 15px;
}

.check {
    padding-left: 20px;
}

.check:hover,
.check:active {
    text-decoration: underline;
}

.check:disabled {
    color: #908484;
}

.check__input {
    position: absolute;
    -webkit-appearance: none;
    appearance: none;
}

.check__box {
    position: absolute;
    margin-left: -30px;
    width: 19px;
    height: 19px;
    background-image: url(../img/checkbox-two.png);
}

.check__input:checked+.check__box {
    width: 19px;
    height: 19px;
    background-image: url(../img/check-full.png);
}

/*radio*/
.option {
    display: block;
    margin-bottom: 15px;
}

.radio__input {
    position: absolute;
    -webkit-appearance: none;
    appearance: none;
}

.radio__circle {
    position: absolute;
    margin-left: -30px;
    width: 20px;
    height: 20px;
    background-image: url(../img/radio-off.png);
}

.radio__input:checked+.radio__circle {
    width: 20px;
    height: 20px;
    background-image: url(../img/radio-full.png);
}

/*radioBOX*/
.radio__form-wr {
    display: flex;
}

.cost__title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    padding-bottom: 15px;
    color: #1E0606;
}

.color__title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    padding-bottom: 15px;
    margin-left: -10px;
    color: #1E0606;
}

.delivery__title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    margin-left: -30px;
    color: #1E0606;
}

.amount__title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    margin-right: -55px;
    line-height: 22px;
    color: #1E0606;
}

.radio {
    display: block;
    cursor: pointer;
    margin-top: 15px;
}

.radio__delivery {
    margin-top: 15px;
    width: 90px;
}

.radio__delivery:hover,
.radio__delivery:active {
    text-decoration: underline;
}

.radio__delivery:disabled {
    color: #908484;
}

.radio__real {
    width: 1px;
    height: 1px;
    position: absolute;
    opacity: 0;
    appearance: none;
}

.radio__real:checked+.radio__fake {
    background-color: #F3D0DB;
    color: black;
}

.radio__fake {
    width: 85px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    transition: background-color 0.3s, color 0.3s;
}

.radio__fake:hover {
    background-color: #e2c9de;
}

.amount__button {
    width: 95px;
    height: 40px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 37px;
    padding: 9px 22px;
    background: #000000;
}