<!-- FOOTER -->
<footer class="footer">
  <section class="footer__container container">
      <div class="footer__wrapper">
          <h2 class="hidden">Footer</h2>
          <ul class="footer__list">
              <li class="footer__list-title"><p class="footer__nav">Navigation</p></li>
              <li class="footer__list-item">About Us</li>
              <li class="footer__list-item">Blog</li>
              <li class="footer__list-item">Design Services</li>
              <li class="footer__list-item">Featured On</li>
              <li class="footer__list-item">2018 Holiday Catalog</li>
              <li class="footer__list-item">Shop By Designer</li>
          </ul>

          <ul class="footer__list">
              <li class="footer__list-title"><p class="footer__info">Customer Information</p></li>
              <li class="footer__list-item">Contact Us</li>
              <li class="footer__list-item">Sale Exclusions</li>
              <li class="footer__list-item">Shipping & Returns</li>
              <li class="footer__list-item">Terms & Conditions</li>
              <li class="footer__list-item">Privacy Policy</li>
              <li class="footer__list-item">Search</li>
          </ul>

          <ul class="footer__list-connect">
              <li class="footer__list-title"><p class="footer__connect">Connect</p></li>
              <li class="footer__list-item">
                  <form class="connect__form">
                      <input class="connect__form-email" type="email" placeholder="EMAIL">
                      <input class="connect__form-button" type="button" value="JOIN">
                  </form>
                  <a class="social_icon__list-item" href="https://news.mail.ru/">
                      <img class="social__icon-img" src="img/Facebook.png" alt="mailgroup">
                  </a>
                  
                  <a class="social_icon__list-item" href="https://www.apple.com/">
                      <img class="social__icon-img" src="img/Twitter.png" alt="apple">
                  </a>
                  
                  <a class="social_icon__list-item" href="https://altex.ro/">
                      <img class="social__icon-img" src="img/Pinterest.png" alt="altex">
                  </a>
                  
                  <a class="social_icon__list-item" href="https://www.owox.com/">
                      <img class="social__icon-img" src="img/Instagram.png" alt="owox">
                  </a>
              </li>
          </ul>
      </div>
      
      
          
          <div class="rating">
              
              <p class="rating__title">Company Rating</p>
              
              <input class="rating__input" type="radio" id="1" name="rating">
              <label class="rating__label" for="5">☆</label>

              <input class="rating__input" type="radio" id="2" name="rating">
              <label class="rating__label" for="4">☆</label>

              <input class="rating__input" type="radio" id="3" name="rating">
              <label class="rating__label" for="3">☆</label>

              <input class="rating__input" type="radio" id="4" name="rating">
              <label class="rating__label" for="2">☆</label>

              <input class="rating__input" type="radio" id="5" name="rating">
              <label class="rating__label" for="1">☆</label>
              
              <div class="rating__footer-wrapper">
              <p class="footer_rating__title">Copyright © 2018 Dlk • Design Life Kids</p>
              <a class="footer_rating__link" href="#">Web Design — Direct Line Development</a>
              </div>
              
          </div>
  </section>
</footer>
