<!-- HEADER -->
    <header class="header container">
        <ul class="header__list-first">
            <li class="header__list-item--up">
                <a class="logo" href="index.html">
                    <img class="header__logo" src="img/logo.png" alt="logo">
                </a>
            </li>
            <li class="header__list-item--link">
                <a href="blog.html" class="header__list-link">BLOG</a>
            </li>
            <li class="header__list-item--link">
                <a href="catalog.html" class="header__list-link">CATALOG</a>
            </li>
            <li class="header__list-item--link">
                <a href="index.html" class="header__list-link">ABOUT US</a>
            </li>
            <li class="header__list-item--link">
                <a href="animation.html" class="header__list-link">ANIMATION</a>
            </li>
        </ul>
        <ul class="header__list-search">
            <li class="header__list-item--search">
                <button type="button" class="header__button">
                    <img class="search__img" src="img/search.svg" alt="search">
                </button>
            </li>
            <li class="header__list-item--down">
                <a href="contact-us.html" class="header__list-link">CONTACT US</a>
            </li>
        </ul>
    </header>

