<!doctype html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="google" content="notranslate">
    <meta name="format-detection" content="telephone=no">

    <title>DL Academy</title>
    <meta name="description" content="">
    <meta name="keywords" content="">

    <script>
      var docElement = document.documentElement;
      docElement.className = docElement.className.replace(/\bno-js\b/, '') + ' js';
    </script>

    <!-- Favicon -->

    <!-- build:css -->
    <link href="css/style.min.css" rel="stylesheet">
    <!-- endbuild -->
  </head>
  <body>

    <!-- HEADER -->
    <header class="header__container container">
        <ul class="header__list-first">
            <li class="header__list-item--one">
                <a class="logo" href="index.html">
                    <img class="logo__img" src="img/logo.png" alt="logo">
                </a>
            </li>
            <li class="header__list-item--first">
                <a href="blog.html" class="header__list-link">BLOG</a>
            </li>
            <li class="header__list-item--first">
                <a href="catalog.html" class="header__list-link">CATALOG</a>
            </li>
            <li class="header__list-item--first">
                <a href="about.html" class="header__list-link">ABOUT US</a>
            </li>
        </ul>
        <ul class="header__list-search">
            <li class="header__list-item--search">
                <button type="button" class="header__button">
                    <img class="search__img" src="img/search.svg" alt="search">
                </button>
            </li>
            <li class="header__list-item--two">
                <a href="contact-us.html" class="header__list-link">CONTACT US</a>
            </li>
        </ul>
    </header>
            <script src="js/main.js"></script>
            <script src="js/app.js" defer></script>
  </body>
</html>
